/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* вторичный цвет фона #F5F4FA */
/* белый #FFFFFF */
/* акцент #2196F3 */

:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --secondary-bgc-color: #F5F4FA;
}

body {
    background-color: #F5F5F5;
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    }
  
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }

    /* Logo */
    
    .logo-web {
        font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;
            font-family: Raleway, sans-serif;
        color: var(--accent-color);        
    }
    .logo-studio {
        font-weight: 700;
            font-size: 26px;
            line-height:1.19;
            letter-spacing: 0.03em;
            font-family: Raleway, sans-serif;
        color: #000000;       
    }
    
    .site-nav {
        font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
    }
    .site-nav .link {
        color: var(--title-text-color);
    }
    .site-nav .link:hover, .site-nav .link:focus {
        color: var(--accent-color);
    }
    .site-nav .link.current {
        color: var(--accent-color);
    }
    .auth-nav {
        font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
    }
    .auth-nav .link {
        color: var(--primary-text-color);
    }
    .auth-nav .link:hover, .auth-nav .link:focus {
        color: var(--accent-color);
    }

    /* Hero */
    .hero {
        background-color: #2F303A;
    }
    .hero-title {
        font-weight: 900;
            font-size: 44px;
            line-height: 1,36;            
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        color: #FFFFFF;
    }

    /* Section */

        .features {
            background-color: #F5F5F5;
        }

        .features-title {
            font-weight: 700;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.03em;
                text-transform: uppercase;
            color: var(--title-text-color);
        }

        .features-text {
            font-weight: 400;
                font-size: 14px;
                line-height: 1.71;             
                letter-spacing: 0.03em;
            color: var(--primary-text-color);
        }
   
        .services {
            background-color: #F5F5F5;
        }
        .services-title {
            font-weight: 700;
                font-size: 36px;
                line-height: 1.16;
                text-align: center;
                letter-spacing: 0.03em;
            color: var(--title-text-color);
        }
        
        .team {
            background-color: var(--secondary-bgc-color);
        }
        .team-title {
            font-weight: 700;
                font-size: 36px;
                line-height: 1.16;
                text-align: center;
                letter-spacing: 0.03em;
            color: var(--title-text-color);
        }
        
        .team-name {
            font-weight: 500;
                font-size: 16px;
                line-height: 1.18;                
                text-align: center;
                letter-spacing: 0.03em;
            color: var(--title-text-color);
            background-color: var(--white-color);            
        }    
        .team-job {
            font-weight: 400;
                font-size: 16px;
                line-height: 1.18;             
                text-align: center;
                letter-spacing: 0.03em;
            color: var(--primary-text-color);     
            background-color: var(--white-color);      
        }

        .subtitle {
            background-color: var(--white-color);
        }

        /* Footer */
       
        .footer {
            background-color: #2F303A;
        }

        .footer .logo-web {
            color: var(--accent-color)              
        }

        .footer .logo-studio {
            color: var(--white-color)
        }

       .adress {
        color: var(--white-color);
        font-style: normal;
        font-family: inherit;
        font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
       }       

       .contacts .link {
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
       }

    /* Button */
  
    .button.primary {
        font-weight: 700;
            font-size: 16px;
            line-height: 1.87;            
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        background-color: var(--accent-color);
        color: var(--white-color);
        font-family: inherit;
    }
